.body {
    display: flex;
    margin-left: 12cm;
    margin-top: 5cm;
    background-color: white;
    width: 15cm;
}

.login {
    margin-top: 1.5cm;
    margin-left: 2cm;
}

button {
    background-color: aqua;
    width: 4cm;
    margin-top: 1cm;
    border-radius: 1rem;

}
body{
    background-color: rgb(0, 255, 140);
}